# Python / ML 
*.gguf
models/*.gguf
results/
.venv/
__pycache__/
.env
.cache/

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Carthage/Build/

# ===== fastlane =====
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
